<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 读入properties配置文件 -->
    <properties resource="com/ryan/xianyu/config/database.properties">

    </properties>
    <!-- 对象别名 -->
    <typeAliases>
        <typeAlias type="com.ryan.xianyu.domain.User" alias="User"/>
    </typeAliases>
    <!-- 数据源配置 -->
    <environments default="development">
        <environment id="development">
            <!-- 事务类型 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 注册xml文件 -->
    <mappers>
        <!--<package name="../mappers"/>-->
        <mapper resource="com/ryan/xianyu/mappers/UserMapper.xml"/>
        <mapper resource="com/ryan/xianyu/mappers/IndexMapper.xml"/>
        <mapper resource="com/ryan/xianyu/mappers/CommodityMapper.xml"/>
        <mapper resource="com/ryan/xianyu/mappers/PostMapper.xml"/>
        <mapper resource="com/ryan/xianyu/mappers/DealMapper.xml"/>
        <mapper resource="com/ryan/xianyu/mappers/NoticeMapper.xml"/>
        <mapper resource="com/ryan/xianyu/mappers/PrivateMessageMapper.xml"/>
    </mappers>
</configuration>  